<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/doar.css">
    <link rel="shortcut icon" href="./assets/logo/icopng.png" type="image/x-icon">
    <script src="./assets/js/finalizar.js" type="module" defer></script>
    <title>Faça sua Doação</title>
</head>

<body>
    <div id="doar_app">
        <div class="layout" :style="{ backgroundColor: backgroundColor }">
            <div class="header"> <img :src="layout.logo" @error="error_image"> </div>
            <div class="inner">
                <form action="javascript:void(0)" @submit="pay">
                    <div class="container">
                        <div>
                            <h3>DIGITE SUAS INFORMAÇÕES</h3>
                            <div class="g g-2-">
                                <div>
                                    <label for="">Nome*</label>
                                    <input type="text" placeholder="Nome*" v-model="doacao.nome" required>
                                </div>                              
                                <div hidden>
                                    <label for="">Data Nascimento*</label>
                                    <input type="date" placeholder="Data Nascimento*" v-model="doacao.dataNascimento">
                                </div>
                                <div hidden>
                                    <label for="">Gênero*</label>
                                    <select v-model="doacao.sexo">
                                        <option value="feminino">feminino</option>
                                        <option value="masculino">Masculino</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="">CPF*</label>
                                    <input type="text" placeholder="CPF*" @input="mask_cpf" v-model="doacao.cpf"
                                        required>
                                </div>
                                <div>
                                    <label for="">Email*</label>
                                    <input type="email" placeholder="email*" v-model="doacao.email" required>
                                </div>
                                <div>
                                    <label for="">Telefone</label>
                                    <input type="text" placeholder="Telefone*" @input="mask_tel"
                                        v-model="doacao.telefone" required>
                                </div>
                            </div>
                            <div class="space"></div>
                            <h3>INFORME SEU ENDEREÇO</h3>
                            <div class="g g-2">
                                <input type="text" @blur="viaCep" @input="mask_cep" placeholder="CEP*"
                                    v-model="doacao.cep" required>
                                <input type="text" placeholder="Endereço*" v-model="doacao.rua" required>
                                <input type="text" placeholder="Numero*" v-model="doacao.numero" required>
                                <input type="text" placeholder="Bairro*" v-model="doacao.bairro" required>
                                <input type="text" placeholder="Estado*" v-model="doacao.estado" required>
                                <input type="text" placeholder="Cidade*" v-model="doacao.cidade" required>
                            </div>
                            <div class="space"></div>
                            <label class="cinza-text">
                                <input type="checkbox">
                                Desejo receber informação via <b>WhatsApp</b> 
                            </label> <br>
                            <label class="cinza-text">
                                <input type="checkbox">
                                Desejo receber informação via <b>email</b> 
                            </label> <br>
                            <div class="space"></div>
                        </div>
                        <div>
                            <div>
                                <h1> Total a Pagar: R$ {{doacao.amount == 0 ? doacao.amount_custon : doacao.amount
                                    |money}} {{doacao.recorrente == 1 ? 'Por mês' : ''}} </h1>
                                <p>
                                    Todas as transações são seguras e criptografadas.
                                    As informações do cartão de crédito nunca são
                                    armazenadas em nossos servidores.
                                </p>
                            </div>
                            <div class="g g-4">
                                <div>
                                    <input type="radio" v-model="doacao.payment_type" value="card" id="for_card" hidden checked>
                                    <label class="options_pay" for="for_card">
                                        <img src="./assets/icon/card.svg"> <br>
                                        Cartão
                                    </label>
                                </div>
                                <div>
                                    <input type="radio" v-model="doacao.payment_type" value="boleto" id="for_boleto" hidden>
                                    <label class="options_pay" for="for_boleto">
                                        <img src="./assets/icon/barcode.svg"> <br>
                                        Boleto
                                    </label>
                                </div>
                                <div v-if="localStorage.getItem('recorrente') != 1">
                                    <input type="radio" v-model="doacao.payment_type" value="pix" id="for_pix" hidden>
                                    <label class="options_pay" for="for_pix">
                                        <img src="./assets/icon/qr.png"> <br>
                                        PIX
                                    </label>
                                </div>
                            </div>
                            <div class="space"></div>
                            <div v-if="doacao.payment_type=='card'">

                                <svg class="card-novo" viewBox="0 0 141.287 88.635" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="141.18" height="88.629" x=".054" y=".003" ry="4.572" fill="#0094e8"
                                        paint-order="stroke markers fill" />
                                    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="12.994"
                                        y="51.352" font-weight="400" font-size="10.48" font-family="Segoe UI"
                                        letter-spacing="0" word-spacing="0" fill="#f9f9f9" stroke-width="1.965">
                                        <tspan style="-inkscape-font-specification:monospace" x="12.994" y="51.352"
                                            font-family="monospace">{{doacao.card||'0000 0000 0000 0000'}}</tspan>
                                    </text>
                                    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="13.547"
                                        y="79.959" font-weight="400" font-size="5.859" font-family="Segoe UI"
                                        letter-spacing="0" word-spacing="0" fill="#f9f9f9" stroke-width="1.099">
                                        <tspan style="-inkscape-font-specification:monospace" x="13.547" y="79.959"
                                            font-family="monospace">{{doacao.nome_card||'NOME COMPLETO'}}</tspan>
                                    </text>
                                    <path
                                        d="M17.606 21.77c-.813 0-1.552.305-2.108.81h5.23l-.81-.81zm3.12 0l3.307 3.306 3.306-3.307zm7.422 0l-.824.824h5.227a3.127 3.127 0 00-2.124-.825zM15.002 23.15a3.13 3.13 0 00-.534 1.756v1.078h6.323v.122h.116v6.539h-.125v.144h-6.314v1.2c0 .566.15 1.096.41 1.554h6.307l2.562-2.561v-7.386L21.3 23.151zm11.75.014L24.319 25.6v7.383l2.449 2.448h6.448c.223-.431.349-.92.349-1.441v-1.17H27.33V25.82h6.235v-.914a3.13 3.13 0 00-.525-1.742zm1.15 3.228v2.612h5.663v-2.612zm-13.434.163v2.449h5.867v-2.449zm0 3.021v2.641h5.867v-2.64zm13.434 0v2.67h5.663v-2.67zm-3.869 3.929l-3.622 3.622h7.245zm3.306 2.497l1.125 1.124h1.963c.97 0 1.836-.436 2.41-1.124zm-12.044.113a3.128 3.128 0 002.311 1.011h1.995l1.012-1.011z"
                                        fill="#efcd33" paint-order="stroke markers fill" />
                                    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="14.542"
                                        y="61.097" font-weight="400" font-size="3.316" font-family="Segoe UI"
                                        letter-spacing="0" word-spacing="0" fill="#f9f9f9" stroke-width=".622">
                                        <tspan style="-inkscape-font-specification:monospace" x="14.542" y="61.097"
                                            font-family="monospace">VALIDADE</tspan>
                                    </text>
                                    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="14.101"
                                        y="67.018" font-weight="400" font-size="5.859" font-family="Segoe UI"
                                        letter-spacing="0" word-spacing="0" fill="#f9f9f9" stroke-width="1.099">
                                        <tspan style="-inkscape-font-specification:monospace" x="14.101" y="67.018"
                                            font-family="monospace">{{doacao.validade||'02/2027'}}</tspan>
                                    </text>
                                    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="124.871"
                                        y="61.097" font-weight="400" font-size="3.316" font-family="Segoe UI"
                                        letter-spacing="0" word-spacing="0" fill="#f9f9f9" stroke-width=".622">
                                        <tspan style="-inkscape-font-specification:monospace" x="124.871" y="61.097"
                                            font-family="monospace">CVV</tspan>
                                    </text>
                                    <text style="line-height:1.25;-inkscape-font-specification:'Segoe UI'" x="120.401"
                                        y="67.018" font-weight="400" font-size="5.859" font-family="Segoe UI"
                                        letter-spacing="0" word-spacing="0" fill="#f9f9f9" stroke-width="1.099">
                                        <tspan style="-inkscape-font-specification:monospace" x="120.401" y="67.018"
                                            font-family="monospace">{{doacao.cvv||'1234'}}</tspan>
                                    </text>
                                </svg>

                                <div class="space"></div>
                                <div>
                                    <input type="text" v-model="doacao.card" @input="mask_card"
                                        placeholder="0000 0000 0000 0000">
                                    <div class="g g-2">
                                        <input type="text" @input="mask_validade" v-model="doacao.validade"
                                            placeholder="02/2027">
                                        <input type="text" @input="mask_cvv" v-model="doacao.cvv" placeholder="1234">
                                    </div>
                                    <input type="text" v-model="doacao.nome_card" placeholder="NOME COMPLETO">
                                </div>
                            </div>
                            <button type="submit"> Doar Agora! </button>
                            <p class="error" v-if="error.status"> {{error.text}} </p>
                            <div class="space"></div>
                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="branco">
                    <center>
                        <div class="space"></div>
                        <p class="paragrafos">
                            Os seus dados pessoais serão utilizados para processar a sua compra,
                            apoiar a sua experiência em todo este site e para outros
                            fins descritos na nossa
                            <a href="./politica-de-privacidade.html" target="_blank">
                                política de privacidade.
                            </a>
                        </p>
                        <div>
                            <img class="bandeiras" src="./assets/img/bandeiras.png">
                            <div class="space"></div>
                        </div>
                    </center>
                </div>
                </form>
            </div>
            <div class="footer">
                &copy; Todos os Direitos Reservados
            </div>
        </div>
        <div class="loading" v-if="loading">
            <img src="./assets/img/Loading.gif">
        </div>
    </div>
</body>

</html>