<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doar Digital</title>
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="shortcut icon" href="./assets/logo/icopng.png" type="image/x-icon">
    <script src="./assets/js/index.js" type="module" defer></script>
</head>

<body>
    <div id="app">

        <div class="inner background" style="background-image: url(./sass/doacoesbethania.com.br/bg/bg-top.svg);">
            <div class="container flex right">
                <div class="flex">
                    <img :src="logo.top" class="logo">
                    <label for="on_logo">
                        <img class="edit" src="./assets/icon/image.svg">
                        <input class="none-input" type="file" id="on_logo" ref="logo" @change="preview()">
                    </label>
                </div>
            </div>
            <div class="edit_box">
                <label for="on_color_top">
                    <img class="edit" src="./assets/icon/bg.svg">
                    <input class="none-input" type="color" id="on_color_top" v-model="header.backgroundColor">
                </label>
                <img class="edit" src="./assets/icon/image.svg">
            </div>
        </div>
        <div class="inner center gap-box">
            <div class="container">
                <div class="grid g-2 center">
                    <div>
                        <div>
                            <img src="./sass/doacoesbethania.com.br/logo/3.png">
                            <img class="edit" src="./assets/icon/image.svg">
                        </div>
                        <div>
                            <img src="./sass/doacoesbethania.com.br/image/2.png">
                            <img class="edit" src="./assets/icon/image.svg">
                        </div>
                    </div>
                    <div>
                        <img src="./sass/doacoesbethania.com.br/image/3.png">
                        <img class="edit" src="./assets/icon/image.svg">
                    </div>
                </div>
                <a href="./doar.html" class="donative_now">
                    <span>Faça sua doação agora!</span>                     
                    <img src="./assets/icon/donative.svg">
                </a>
            </div>
            <div class="edit_box">
                <img class="edit" src="./assets/icon/bg.svg">
                <img class="edit" src="./assets/icon/image.svg">
            </div>
        </div>
        <div class="inner center gap-box">
            <div class="container ">
                <h2 @blur="put_layout" name="title_depoimento" contenteditable="true" class="title" style="color: #25b3c2"  > {{ layout.title_depoimento }} </h2>
                <div class="space"></div> 
                <div class="grid g-2">
                    <div class="videos" v-for="depoimento in depoimento_video" @click="pop_status=true">
                        <img :src="depoimento | getIdYoutube | getTumb">
                        <span></span>
                    </div>
                </div>
                <form action="javascript:void(0)" @submit="addDepoimentos()" class="form-edit">
                    <input type="url" v-model="urlVideo" placeholder="https://www.youtube.com/watch?v=*****" required>
                    <button type="submit">
                        <img src="./assets/icon/plus.svg">
                    </button>
                </form>
            </div>
        </div>
        <div class="popup" v-if="pop_status">
            <span @click="pop_status=false">x</span>
            <div>
                <iframe width="100%" height="315" :src="'https://www.youtube.com/embed/'+pop_id "
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="inner gap-box center">
            <div class="container">
                <h2 @blur="put_layout" name="title_video" contenteditable="true" class="title" style="color: #25b3c2">{{ layout.title_video }}</h2>
                <div class="space"></div>
                <div class="grid g-2">
                    <div class="videos" v-for="video in videos" @click="pop_status=true">
                        <img :src="video | getIdYoutube | getTumb">
                        <span></span>
                    </div>
                </div>
                <form action="javascript:void(0)" @submit="addVideo()" class="form-edit">
                    <input type="url" v-model="urlVideo" placeholder="https://www.youtube.com/watch?v=*****" required>
                    <button type="submit">
                        <img src="./assets/icon/plus.svg">
                    </button>
                </form>
            </div>
        </div>
        <div class="inner gap-box background center"
            style="color: #FFF; background-image: url(./sass/doacoesbethania.com.br/bg/bg.svg);">
            <div class="container">
                <h1 @blur="put_layout" name="title_galeria" contenteditable="true" class="center">
                    {{ layout.title_galeria }}
                </h1>
                <p contenteditable="true" @blur="put_layout" name="decription_galeria">
                    {{ layout.decription_galeria }}
                </p>
                <div class="space"></div>
                <div>
                    <div class="grid g-4">
                        <div v-for="img in galerys" class="item_galery">
                            <img :src="img.src" alt="foto galeria">
                            <span>{{ img.title }}</span>
                        </div>
                    </div>
                </div>
                <form action="javascript:void(0)" @submit="add_galery()" class="form-edit">
                    <div class="grid_add_galery">
                        <label for="for_add_galery">
                            <img src="./assets/icon/image.svg">
                            <input type="file" hidden id="for_add_galery" ref="image_galery">
                        </label>
                        <input type="text" placeholder="title"  v-model="galery_title">
                    </div>
                    <button type="submit">
                        <img src="./assets/icon/plus.svg">
                    </button>
                </form>
            </div>
        </div>
        <div class="inner gap-box background">
            <div class="container grid g-2 center">
                <div>
                    <img src="./sass/doacoesbethania.com.br/image/1.jpg">
                    <p contenteditable="true" @blur="put_layout" name="bio">
                        {{ layout.bio }}
                    </p>
                </div>
                <div>
                    <h2 contenteditable="true" class="center" style="color: #25b3c2" @blur="put_layout" name="sitacao">
                      {{ layout.sitacao }}
                    </h2>
                </div>
            </div>
        </div>
        <a href="./doar.html" class="call_action">
            <img src="./assets/icon/donative.svg">
            <span contenteditable="true">DOAR AGORA </span>
        </a>
        <div class="footer" :style="header">
            <div class="container">
                <div class="flex between footer_content">
                    <div contenteditable="true" @blur="put_layout" name="copy"> {{ layout.copy }} </div>
                    <div> <img :src="logo.footer"> </div>
                </div>
            </div>
            <div class="copy"> Sistema de Doações Desenvolvido por Digital Combo </div>
        </div>
    </div>

</body>

</html>