<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doar Digital</title>
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="shortcut icon" href="./assets/logo/icopng.png" type="image/x-icon">
    <script src="./assets/js/index.js" type="module" defer></script>
</head>

<body>
    <div id="app">
        <div class="loading" v-if="loading"></div>
        <div class="fix-top" v-if="edit">
            <a href="#" @click="sair()">
                <img src="./assets/icon/systen.svg">
            </a>
            <label for="on_color">
                <img src="./assets/icon/bg.svg">
                <input type="color" id="on_color" v-model="layout.color" @change="put_layout" hidden>
            </label>
            <label for="on_bg_top" v-if="edit">
                <img src="./assets/icon/image.svg">
                <input class="none-input" type="file" id="on_bg_top" data-name="bg_top" @change="preview">
            </label>
            <label for="on_bg_galery" v-if="edit">
                <img src="./assets/icon/galery.png">
                <input class="none-input" type="file" id="on_bg_galery" data-name="bg_galery" @change="preview">
            </label>
        </div>
        <div class="inner background"
            :style="{ backgroundImage: 'url(https://api.doardigital.com.br/storage/app/public/'+ institution_id +'/' + layout.bg_top + ')' }">
            <div class="container flex right">
                <div class="flex edit_box">
                    <img :src="layout.logo | getImage(institution_id)" class="logo" @error="error_image">
                    <label for="on_logo" v-if="edit">
                        <img class="edit" src="./assets/icon/image.svg">
                        <input class="none-input" type="file" id="on_logo" data-name="logo" @change="preview">
                    </label>
                </div>
            </div>
        </div>
        <div class="inner center gap-box">
            <div class="container">
                <div class="grid g-2 center">
                    <div>
                        <div class="edit_box">
                            <img :src="layout.image_1 | getImage(institution_id)" @error="error_image">
                            <label for="on_image_1" v-if="edit">
                                <img class="edit" src="./assets/icon/image.svg">
                                <input class="none-input" type="file" id="on_image_1" data-name="image_1"
                                    @change="preview">
                            </label>
                        </div>
                        <div class="edit_box">
                            <img :src="layout.image_2 | getImage(institution_id)" @error="error_image">
                            <label for="on_image_2" v-if="edit">
                                <img class="edit" src="./assets/icon/image.svg">
                                <input class="none-input" type="file" id="on_image_2" data-name="image_2"
                                    @change="preview">
                            </label>
                        </div>
                    </div>
                    <div class="edit_box">
                        <img :src="layout.image_3 | getImage(institution_id)" @error="error_image">
                        <label for="on_image_3" v-if="edit">
                            <img class="edit" src="./assets/icon/image.svg">
                            <input class="none-input" type="file" id="on_image_3" data-name="image_3" @change="preview">
                        </label>
                    </div>
                </div>
                <div class="space"></div>
                <div class="space"></div>
                <a href="./doar.html" class="donative_now">
                    <span>Faça sua doação agora!</span>
                    <img src="./assets/icon/donative.svg">
                </a>
            </div>
        </div>
        <div class="inner center gap-box">
            <div class="container ">
                <h2 @blur="put_layout" name="title_depoimento" :contenteditable="edit" class="title"
                    :style="{color: layout.color}"> {{ layout.title_depoimento }} </h2>
                <div class="space"></div>
                <div class="grid g-2">
                    <div class="videos" v-for="depoimento in depoimento_video" >
                        <i class="apagar" v-if="edit" @click="remover_depoimento(depoimento)">x</i>
                        <img @click="pop_status=true; pop_video=depoimento" :src="depoimento | getIdYoutube | getTumb" @error="error_image">
                        <span @click="pop_status=true; pop_video=depoimento"></span>
                    </div>
                </div>
                <form v-if="edit" action="javascript:void(0)" @submit="addDepoimentos()" class="form-edit">
                    <input type="url" v-model="urlVideo" placeholder="https://www.youtube.com/watch?v=*****" required>
                    <button type="submit">
                        <img src="./assets/icon/plus.svg">
                    </button>
                </form>
            </div>
        </div>
        <div class="popup" v-if="pop_status">
            <span @click="pop_status=false">x</span>
            <div>
                <iframe width="100%" height="315" :src=" pop_video |  getIdYoutube | url_embed  "
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="inner gap-box center">
            <div class="container">
                <h2 @blur="put_layout" name="title_video" :contenteditable="edit" class="title"
                    :style="{color: layout.color}">{{ layout.title_video }}</h2>
                <div class="space"></div>
                <div class="grid g-2">
                    <div class="videos" v-for="video in videos">
                        <i class="apagar" v-if="edit" @click="remover_video(video)">x</i>
                        <img @click="pop_status=true;  pop_video=video" :src="video | getIdYoutube | getTumb" @error="error_image">
                        <span @click="pop_status=true;  pop_video=video"></span>
                    </div>
                </div>
                <form v-if="edit" action="javascript:void(0)" @submit="addVideo()" class="form-edit">
                    <input type="url" v-model="urlVideo" placeholder="https://www.youtube.com/watch?v=*****" required>
                    <button type="submit">
                        <img src="./assets/icon/plus.svg">
                    </button>
                </form>
            </div>
        </div>
        <div class="inner gap-box background center gap-galeria"
            :style="{ backgroundImage: 'url(https://api.doardigital.com.br/storage/app/public/'+ institution_id +'/' + layout.bg_galery + ')', color: '#FFF' }">
            <div class="container">
                <h1 @blur="put_layout" name="title_galeria" :contenteditable="edit" class="center">
                    {{ layout.title_galeria }}
                </h1>
                <p :contenteditable="edit" @blur="put_layout" name="decription_galeria">
                    {{ layout.decription_galeria }}
                </p>
                <div class="space"></div>
                <div>
                    <div class="grid g-4">
                        <div v-for="img in galerys" class="item_galery">
                            <i class="apagar" v-if="edit" @click="remover_galery(img.src)">x</i>
                            <img :src="img.src| getImage(institution_id)" @error="error_image" alt="foto galeria">
                            <span>{{ img.title }}</span>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
                <form v-if="edit" action="javascript:void(0)" @submit="add_galery()" class="form-edit">
                    <div class="grid_add_galery">
                        <label for="for_add_galery">
                            <img src="./assets/icon/image.svg">
                            <input type="file" hidden id="for_add_galery" ref="image_galery">
                        </label>
                        <input type="text" placeholder="title" v-model="galery_title">
                    </div>
                    <button type="submit">
                        <img src="./assets/icon/plus.svg">
                    </button>
                </form>
            </div>
        </div>
        <div class="inner gap-box background">
            <div class="container grid g-2 center">
                <div>
                    <div class="edit_box">
                        <img :src="layout.image_4 | getImage(institution_id)" @error="error_image">
                        <label for="on_image_4" v-if="edit">
                            <img class="edit" src="./assets/icon/image.svg">
                            <input class="none-input" type="file" id="on_image_4" data-name="image_4" @change="preview">
                        </label>
                    </div>
                    <p :contenteditable="edit" @blur="put_layout" name="bio">
                        {{ layout.bio }}
                    </p>
                </div>
                <div>
                    <h2 :contenteditable="edit" class="center" :style="{color: layout.color}" @blur="put_layout"
                        name="sitacao">
                        {{ layout.sitacao }}
                    </h2>
                    <div class="space"></div>
                    <div class="space"></div>
                    <a href="./doar.html" class="donative_now">
                        <span>Faça sua doação agora!</span>
                        <img src="./assets/icon/donative.svg">
                    </a>
                </div>
            </div>
        </div>
        <a href="./doar.html" class="call_action">
            <img src="./assets/icon/donative.svg">
            <span :contenteditable="edit">DOAR AGORA </span>
        </a>
        <div class="footer" :style="{background: layout.color}">
            <div class="container">
                <div class="flex between footer_content">
                    <div :contenteditable="edit" @blur="put_layout" name="copy"> {{ layout.copy }} </div>
                    <div class="edit_box">
                        <img :src="layout.image_5 | getImage(institution_id)" @error="error_image" class="logo-footer">
                        <label for="on_image_5" v-if="edit">
                            <img class="edit" src="./assets/icon/image.svg">
                            <input class="none-input" type="file" id="on_image_5" data-name="image_5" @change="preview">
                        </label>
                    </div>
                </div>
            </div>
            <div class="copy"> Sistema de Doações Desenvolvido por Digital Combo </div>
        </div>
    </div>

</body>

</html>