<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/obrigado.css">
    <title>Obrigado</title>
    <script src="./assets/js/library/qrcode.js"  defer></script>
    <script src="./assets/js/obrigado.js" type="module" defer></script>
    <link rel="shortcut icon" href="./assets/logo/ico.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <header :style="{ backgroundColor: backgroundColor }">
            <img id="logo" :src="layout.logo" alt="Logo de Bethânia">
        </header>
        <div id="block1">
            <img class="verif ic" src="./assets/icon-obrigado/verificado.png">
            <h3>Obrigado por sua generosidade!</h3>
        </div>
        <br>
        <div id="block2">
            <h2>Sua doação foi recebida com sucesso, Deus te abençoe!.</h2>
            <div class="space"></div>
        </div>
        <div id="block2" v-if="type=='boleto'">
            <p>Clique abaixo para acessar o seu boleto.</p>
            <a :href="boleto_link" target="_blank" class="boleto">
                <img src="./assets/icon-obrigado/boleto.png" alt="Icone Boleto" class="bolIco">
                <b>VER MEU BOLETO</b>
            </a>
            <p>ou copie o <b>código de barras:</b></p>
            <br>
            <div id="inpContainer">
                <input id="texto" type="text" ref="codigo" v-model="boleto_code">
                <button id="btnCopiador" @click="copiar('codigo')"><b>Copiar</b></button>
            </div>

            <p><b>Importante: Este boleto é uma contribuição espontânea e não gera protesto.</b></p>
        </div>
        <center>
            <div ref="print_qr"></div>
        </center>
        <div id="block2" v-if="type=='pix'">
            <p>Seu codigo pix.</p>
            <div id="inpContainer">
                <input type="text" ref="codigo_pix" v-model="qr">
                <button  @click="copiar('codigo_pix')"><b>Copiar</b></button>
            </div>

        </div>

        <div id="block3" :style="{ backgroundColor: backgroundColor }">
            <h3>Obrigado</h3>
            <br>
            <p>
                Ajude-nos na missão de<br>
                Restaurar Vidas! Compartilhe esta causa!
            </p>
            <br>
            <div>
                <a id="faceShare" class="box" target="_blank" :href="'https://www.facebook.com/sharer/sharer.php?u=https://'+base+'.doardigital.com.br'">
                    Compartilhar<br>
                    no Facebook
                    <img class="fb" src="./assets/icon-obrigado/facebook.png">
                </a>
                <a id="whatsShare" class="box" target="_blank" :href="'https://web.whatsapp.com/send?text=https://'+base+'.doardigital.com.br'">
                    Compartilhar <br>
                    no Whatsapp
                    <img class="whats" src="./assets/icon-obrigado/whatsapp.png">
                </a>
            </div>
            <a id="doacao" :href=" window.location.protocol + '//'+ window.location.hostname "><b>Fazer nova Doação</b></a>
        </div>
        <footer>
            <div>
                <br><br>
                <p>
                    {{inst.nome_fantasia}} - CNPJ: {{inst.cnpj}} |
                    Endereço: {{inst.rua}} , {{inst.complemento}} -
                    {{inst.bairro}}, {{inst.cidade}} - {{inst.estado}} - CEP: {{inst.cep}} |
                    Para dúvidas e cancelamentos entre em contato com nossa
                    central de relacionamento no telefone {{inst.telefone}}
                    ou pelo e-mail: {{inst.email}} |
                    Em até 30 dias após o processamento da transação,
                    realizaremos o ressarcimento integral dos valores doados.
                </p>
                <br><br>
            </div> 

        </footer>
    </div>
</body>

</html>