@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

$font: 'Montserrat', sans-serif;
$azul: #0094E8;
$laranja: #FF6B01;
$branco: #f5f5f5;
$cinza: #777;

