.form {
    textarea,
    select,
    input:not([type=checkbox]) {

        display: block;
        width: 100%;
        border: none;
        border-bottom: 2px solid $cinza;
        line-height: 40px;
        margin-bottom: 20px;
        text-indent: 40px;
        color: $azul;
        font-size: 12px;
        font-weight: 700;
        
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 7px center;
        &:focus {
            border-bottom: 2px solid $azul;
        }
        &[type="email"] {
            background-image: url(../icon/user.svg);
        }
        &[type="password"] {
            background-image: url(../icon/key.svg);
        }
        &[type="color"] {
            display: inline-block;
            $size: 40px;
            width: $size;
            height: $size;
            border: 0;
            margin-right: 12px;
        }
        &[type="radio"] {
            width: 30px;
            display: inline-block;
        }
    }
    label {
        display: block;
    }
    textarea {
        background-color: #EEE;
        border-radius: 4px;
        margin-top: 5px;
    }
    select {
        color: #333;
        padding-left: 0;
        text-indent: 12px;
        height: 40px;
        border-left: 1px solid #FFF;
        border-top: 1px solid #FFF;
        border-right: 1px solid #FFF;
        margin-top: 4px;
    }
}
.btn {
    display: block;  
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid $cinza;
    color: $cinza;
    border-radius: 4px;
    line-height: 40px;
    width: 100%;
    &:hover {
        filter: brightness(1.1);
    }
    &--success {
        border: 2px solid $azul;
        background-color: $azul;
        color: #FFF;
        text-shadow: 1px 2px 0px #0003;
    }
}
.link {
    display: inline-block;
    text-decoration: none;
    color: $azul;
    &:hover {
        text-decoration: underline;
    }
    &--login {
        display: block;
        margin-top: 20px;
    }
}
.i {
    &-monei {
        background-image: url(../form-icon/money.svg);
    } 
}
.editor {
    display: grid;
    grid-gap: 15px;
    padding: 17px;
    background-color: #EEE;
    border-radius: 4px;
    margin-bottom: 20px;
    > span {
        display: flex;
        > img {
            $size: 34px;
            display: inline-block;
            width: $size;
            height: $size;
            padding: 11px;
            box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
            border-radius: 4px;
            margin-right: 12px;
            cursor: pointer;
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }
        }
    }
    > div {
        background-color: #FFF;
        display: block;
        border-radius: 4px;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
        padding: 20px;
        min-height: 150px;
    }
}
.error {
    display: block;
    line-height: 30px;
    background-color: #c0392b;
    color: #f1c40f;
    margin-top: 12px;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}
.success {
    display: block;
    line-height: 30px;
    background-color: #2ecc71;
    color: #FFF;
    margin-top: 12px;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}
.plus {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #3498db;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .1);
    &:hover {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
        background-color: #2980b9;
    }
    img {
        width: 40px;
        padding: 12px;
        filter: invert(100);
        height: 40px;
        pointer-events: none;
    }
}
.title_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.note {
    display: block;
    padding: 24px;
    background-color: #ecf0f1;
    color: #666e6e;
    border-radius: 5px;
    margin-bottom: 20px;
    h5 {
        font-weight: 400;
        font-size: 24px;
        margin: 0;
        padding: 0;
    }
    p {
        padding: 0;
    }
}
.input-note {
    border: none !important;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);    
}
.subdomain {
    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
    padding-right: 12px;
    font-size: 16px;
    input {
        background-color: transparent;
        margin-bottom: 0px !important;
        text-align: right;
        font-size: 16px !important;
    }
}
.loading {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .7);
    background-image: url(../img/carregando.gif);
    backdrop-filter: blur(3px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
}
.resumo {
    display: grid;
    background-color: #FFF;
    padding: 12px;
    border-radius: 10px;
    grid-template-columns: 50px 1fr 40px;
    grid-gap: 20px;
    align-items: center;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, .1);
    > div {
        border-radius: 10px;
        background-color: #2980b9;
    }
    img {
        display: block;
        width: 50px;
        height: 50px;
        padding: 12px;
        filter: invert(100);
    }
    small {
        display: block;
        color: #b2bec3;
    }
    b {
        color: #2d3436;
        font-weight: 200;
        font-size: 32px;
    }
}
.padding-20 {
    padding: 30px;
}
.button-export {
    display: block;
    width: 250px;
    margin: 0 auto;
    background: linear-gradient(#0094E8, rgb(9, 132, 227));
    font-weight: 900;
    font-size: 18px;
    padding: 15px 0;
    border-radius: 8px;
    border: none;
    color: #FFF;
    cursor: pointer;
}
.paginacao {
    display: block;
    padding: 20px;
    text-align: center;
}
.paginacao a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    color: $cinza;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #FFF;
    &:hover {
        background-color: $azul;
        color: #FFF;
    }
}
.btn_inativo,
.btn_ativo {
    display: inline-block;
    padding: 7px 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: $azul;
    pointer-events: none;
}
.btn_inativo {
    
    background-color: #e74c3c;
}
.w25 {
    display: inline-block;
    width: 25%;
}
.w-50 {
    display: inline-block;
    width: 50%;
}
.w-40 {
    display: inline-block;
    width: 30px;
    margin-left: 10px;
}