.popupo-bg {
    display: flex;
    width: calc(100vw - 60px);
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
    align-items: center;
    justify-content: center;
}
.popupo-bg > div {
    display: block;
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    max-width: 70vw;
    position: relative;
}
.pop-close {
    display: flex;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #C00;
    color: #FFF;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 11px;
    cursor: pointer;
    box-shadow: inset 0 0 3px rgba(0,0,0,.1);
}
.popupo-bg input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: inset 0 0 3px rgba(0,0,0,.1);
    padding: 0 15px;
    margin: 0;
    margin-bottom: 15px;
}
.iten-lista-pop {
    display: grid;
    grid-template-columns: 1fr 40px;
    align-items: center;
    border-bottom: 1px solid #CCC;
}
.iten-lista-pop img {
    display: block;
    width: 40px;
    height: 40px;
    padding: 12px;
    filter: opacity(.5);
    cursor: pointer;
}
.iten-lista-pop img:hover {    
    filter: opacity(.7);
}
.pop-center {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}