@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
img {
    max-width: 100%;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
[hidden] {
    display: none !important;
}
.edit {
    --r: 5px;
    display: none;
    width: 30px;
    height: 30px;
    filter: opacity(.5);
    cursor: pointer;
    transition: all .3s ease-in-out;
    position: absolute;
    top: 5px;
    right: 50%;
    padding: 7px;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(3px);
    border-radius: 50px;
}
.edit:hover {
    filter: opacity(.9);
}
.edit_box {
    position: relative;
}
.edit_box:hover  .edit {
    display: block;
}
.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container {
    display: grid;
    width: 1200px;
    max-width: 90vw;
    position: relative;
    margin: 0 auto;
}
.space {
    --line: 30px;
    display: block;
    height: var(--line);
}
.flex {
    display: flex;
}
.between {
    justify-content: space-between;
}
.grid {
    display: grid;
}
.g-2 { grid-template-columns: repeat(2, 1fr); grid-gap: 20px; }
.g-3 { grid-template-columns: repeat(3, 1fr); grid-gap: 20px; }
.g-4 { grid-template-columns: repeat(4, 1fr); grid-gap: 20px; }
.g-5 { grid-template-columns: repeat(5, 1fr); grid-gap: 20px; }
.g-6 { grid-template-columns: repeat(6, 1fr); grid-gap: 20px; }

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    display: block;
    text-align: center;
    font-size: 32px;
}
.videos {
    display: block;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .2);
    overflow: hidden;
    height: 250px;
    border-radius: 12px;
}
.videos img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    object-position: center ;
    transition: all .3s ease-in-out;
}
.videos img:hover {
    transform: scale(1.05);
}
.videos .ico--play {
    position: absolute;
    display: block;
    min-height: 300px;
}
.videos span {
    display: block;
    width: 100%;
    height: 250px;
    background-image: url(../icon/play.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 85px;
    filter: invert(70) drop-shadow(3px 3px 0px #000D) ;
    background-color: rgba(0, 0, 0, .2);
    pointer-events: none;

    position: absolute;
    top: 0;
    left: 0;
}
.none-input {
    position: absolute;
    width: 0px;
    height: 0px;
    border: none;
    background: transparent;
    outline: none;
}
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .90);
    backdrop-filter: blur(2px);
    z-index: 99999;
}
.popup span {
    position: fixed;
    top: 20px;
    right: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #EEE;
    cursor: pointer;
}
.popup div{
    display: block;
    width: 500px;
    max-width:  90vw;
}
.item_galery { 
    display: block;
    text-align: center;
    line-height: 40px;
    position: relative;
}
.item_galery img {
    display: block;
    width: 100%;
    border-radius: 8px;
    overflow: none;
}
.logo {
    display: block;
    height: 40px;
    margin: 30px 0;
}
.call_action {
    display: inline-grid;
    grid-template-columns: 40px 1fr;
    background-color: #2ecc71;
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    padding: 7px;
    padding-right: 20px;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999999;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, .2), inset 0 0 7px rgba(0, 0, 0, .3);
}
.call_action:hover {
    filter: brightness(1.1);
}
.call_action img {
    display: block;
    filter: invert(100) drop-shadow(2px 2px 0px rgba(0, 0, 0, .2));
    width: 40px;
    height: 40px;
    padding: 10px;
}
.footer {
    display: block;
    width: 100%;
    max-width: 100vw;
}
.footer_content {
    padding: 20px;
    align-items: center;
    color: #FFF;
}
.copy {
    display: block;
    font-size: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    line-height: 50px;
    color: #FFF;
}
.gap-box {
    padding: 100px 0;
}
.background {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    
}
.right {
    justify-content: flex-end;
}
.form-edit {
    display: grid;
    grid-template-columns: 1fr 30px;
    padding: 10px 20px;
    background-color: #2ecc71;
    border-radius: 50px;
    width: 500px;
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
}
.form-edit input {
    display: inline-block;
    border-radius: 50px;
    border: none;
    line-height: 30px;
    padding: 0 12px;
    background-color: transparent;
    color: #FFF;
}
.form-edit input::placeholder {
    color: #FFF;
}
.form-edit button {
    margin: 0;
    padding: 0;
    display: inline-block;
    border: 0;
    background-color: #27ae60;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .3);
}
.form-edit img {
    display: inline-block;
    filter: invert(100);
    width: 30px;
    height: 30px;
    padding: 7px;
}
.grid_add_galery {
    display: grid;
    grid-template-columns: 40px 1fr;
}
.donative_now {
    display: grid;
    width: 320px;
    grid-template-columns: 1fr 40px;
    align-items: center;
    background-color: #27ae60;
    margin: 0 auto;
    border-radius: 8px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .3);
    cursor: pointer;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .3);
}
.donative_now img {
    display: block;
    width: 40px;
    height: 40px;
    padding: 7px;
    filter: invert(100) drop-shadow(2px 2px 0px rgba(0, 0, 0, .3));
}
@media (max-width: 761px) {
    .g-2,
    .g-3,
    .g-4,
    .g-5,
    .g-6 { grid-template-columns: repeat(1, 1fr); grid-gap: 30px; }
}
.logo-footer {
    height: 40px;
}
.loading {
    display: flex;
    position: fixed;
    z-index: 9999999;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, .8);
    background-image: url(../img/Loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.fix-top {
    display: inline-block;
    position: fixed;
    z-index: 999;
    top: 20px;
    left: 20px;

}
.fix-top img {
    display: inline-block;
    padding: 10px;
    width: 40px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin-right: 5px;
    backdrop-filter: blur(3px);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .2);

}
.apagar {
    display: flex;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 10px;
    background-color: #C00;
    margin: 0;
    font-style: normal;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #FFF;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}
.apagar:hover {
    background-color: #E00;
}
@media (max-width:500px) {
    
    .gap-galeria {
        padding: 250px 0;
    }
}