@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    color: #222;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
[hidden] {
    display: none !important;
}
img {
    max-width: 100%;
}
.layout {
    display: grid;
    width: 100%;
    max-width: 100vw;
    grid-template-rows: 100px 1fr 50px;
    background-color: #CCC;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.header img {
    display: block;
    height: 70px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    background-color: #FFF;
    color: #777;
}
.inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.container {
    width: 1200px;
    max-width: 90vw;
    display: block;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FFF;
    padding: 25px;
    border-radius: 5px;
    grid-gap: 25px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.flex { display: flex; }
.g { display: grid; grid-gap: 20px; }
.g-2 { grid-template-columns: repeat(2, 1fr); }
.g-3 { grid-template-columns: repeat(3, 1fr); }
.g-4 { grid-template-columns: repeat(4, 1fr); }
.space {
    display: block;
    height: 24px;
}
a {
    text-decoration: none;
    color: #05f;
}
a:hover {
    text-decoration: underline;
}

@media (max-width: 761px ) {
    .inner {
        padding: 50px 0;
    }
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
    .g-2,
    .g-3,
    .g-4 { grid-template-columns: repeat(1, 1fr); }
    
}